---
import PageLayout from "../layouts/PageLayout.astro"
import { Image } from "astro:assets";
import errorImage from "../assets/common/404.png"
---

<PageLayout title="404">
    <div class="flex flex-col items-center justify-center min-h-screen">
        <Image class="w-48 md:w-64 lg:w-80 h-auto object-cover" src={errorImage} alt="404 image"/>

        <p class="mt-4 text-center text-lg">
            The page you're looking for cannot be found or no longer exists.
            <br/>
            Let's get you back to the fun stuffs
        </p>
        <div class="mt-2 text-center">
            <a href="/" class="text-blue-500 underline mx-2">Home</a>
            <a href="/articles" class="text-blue-500 underline mx-2">Articles</a>
            <a href="/weekly" class="text-blue-500 underline mx-2">Weekly</a>
            <a href="/books" class="text-blue-500 underline mx-2">Books</a>
        </div>
    </div>
</PageLayout>