---
import PageLayout from "../layouts/PageLayout.astro"
import { Image } from "astro:assets";
import DSC08678 from "../assets/DSC08678.jpg"

const introduction = `

Hey there, I'm Eric – Welcome to my space of the internet! 🥳
I'm a Senior Software Engineer at OKX in Singapore.
I'm all about sharing knowledge because I believe that's how we learn and level up together. Here, you'll find me dropping gems on software development, with a special focus on iOS.
I'm also a big fan of books—they're the secret sauce to leveling up your skills. So, I'll be sharing my take on some awesome reads and giving you the lowdown on what I've learned.
I hope you vibe with the content and find it useful. Got questions or thoughts? Hit me up in the comments or shoot me a message anytime!
`;
---
<PageLayout>
    <div class="flex flex-col items-center space-y-8 pt-16"> <!-- Center content and add spacing between image and text -->
        <Image class="rounded-full w-52 h-52 object-cover" src={DSC08678} alt="Me (pretend) enjoying fishing."/> <!-- Rounded image to a circle -->
        <div class="w-3/4"> <!-- Center the text block -->
            <p class="whitespace-pre-wrap text-m">
                {introduction}
            </p>
        </div>
    </div>
</PageLayout>