---
import PageLayout from "../layouts/PageLayout.astro"
import LatestArticles from "../components/home/LatestArticles.astro"
import LatestBooks from "../components/home/LatestBooks.astro"
import IntroduceCard from "../components/home/IntroduceCard.astro"
import '../styles/global.css';
---

<PageLayout>

    <div class="pb-16">

        <IntroduceCard></IntroduceCard>

        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8 pt-16">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Latest articles 📜</h2> 
        </div>
        <LatestArticles></LatestArticles>
        <a href="/articles" class="cursor-pointer border border-gray-300 shadow-sm rounded-full py-3.5 px-7 w-52 flex justify-center items-center text-gray-900 font-semibold mx-auto transition-all duration-300 hover:bg-gray-100">View All</a>
    
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8 pt-16">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Latest book reviews 📚</h2> 
        </div>
        <LatestBooks></LatestBooks>
        <a href="/books" class="cursor-pointer border border-gray-300 shadow-sm rounded-full py-3.5 px-7 w-52 flex justify-center items-center text-gray-900 font-semibold mx-auto transition-all duration-300 hover:bg-gray-100">View All</a>
    </div>
    

</PageLayout>