---
import { Image } from "astro:assets";
import DSC08678 from "../../assets/DSC08678.jpg"
---


<section class="container about" aria-label="About Me">
    <Image class="rounded-lg w-40 h-60" src={DSC08678} alt="Me enjoy fishing."/>

    <div class="content">
        <h1 class="h1">My Blog</h1>
        <p>
            I'm a software engineer and a writer. I write about software engineering, books, and personal growth. I'm
            passionate about learning and sharing my knowledge with others.
        </p>
    </div>

</section>