---
---

<section class="w-full max-w-full flex flex-col items-center justify-center text-center pt-8" aria-label="About Me">
    <div class="content">
        <h1 class="h1 font-serif font-bold text-3xl mb-4">Hi 👋, I'm Eric</h1>
        <p class="text-lg">
            This is my space on the internet where I write about Swift/iOS development, software books review and my experience as a software engineer.
        </p>
    </div>
</section>