---
import '@docsearch/css'
---

<div class="w-1" id="docsearch"></div>

<script>
  import docsearch from '@docsearch/js'

  docsearch({
    container: '#docsearch',
    appId: 'MAM15PO3N4',
    apiKey: 'a5d4344c07f11031a5943c14e9b2ebc7',
    indexName: 'posts',
    searchParameters: {
        facetFilters: ['language:en', 'version:1.0.0'],
    },
    placeholder: 'Search for posts...',
  })
</script>

<style>
  div {
    display: contents;
  }

  div[data-open-modal] {
    width: 100%;
  }

  @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
  }
</style>