---
import Item from './ListItem.astro';
import type { Post } from '../../types';

export interface Props {
  prefix: string;
  posts: Array<Post>;
}

const { prefix, posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-4 md:mb-6">
        <Item prefix = {prefix} post={post} />
      </li>
    ))
  }
</ul>
