---
import Item from './ListItem.astro';
import BlogHorizontalItem from './BlogHorizontalItem.astro';
import type { Post } from '../../types/post.types';

export interface Props {
  prefix: string;
  posts: Array<Post>;
}

const { prefix, posts } = Astro.props;
---
<div class="container mx-auto px-4 lg:px-8 pt-16">
  <ul class="flex flex-col">
    {posts.map((post, index) => (
      <li class="flex w-full mb-4">
        <BlogHorizontalItem 
          prefix={prefix} 
          post={post} 
          isLast={index === posts.length - 1} 
        />
      </li>
    ))}
  </ul>
</div>
