---
import Item from './ListItem.astro';
import type { Post } from '../../types/post.types';

export interface Props {
  prefix: string;
  posts: Array<Post>;
}

const { prefix, posts } = Astro.props;
---

<div class="container mx-auto px-4 lg:px-8">
  <ul class="grid gap-8 lg:grid-cols-3" style="row-gap: 0.1rem; column-gap: 2rem;">
    {
      posts.map((post) => (
        <li class="mb-8">
          <Item prefix={prefix} post={post} />
        </li>
      ))
    }
  </ul>
</div>