---
import Header from '../components/widgets/Header.astro';
import Footer from '../components/widgets/Footer.astro';
import '../styles/global.css';

const links = [
  // { text: 'Home', href: '/' },
  { text: 'Articles', href: '/articles' },
  { text: 'Weekly', href: '/weekly' },
  { text: 'Books', href: '/books' },
  { text: 'About', href: '/about' },
];

const footerData = {
  socialLinks: [
    { name: 'GitHub', icon: 'tabler:brand-github', href: 'https://github.com/hoangatuan' },
    { name: 'Linkedin', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/in/tuan-hoang-b02025183/' },
    { name: 'Medium', icon: 'tabler:brand-medium', href: 'https://medium.com/@hoangatuan' }
  ],
  footNote: "© 2024 Eric Hoang. All rights reserved."
};
---

<!doctype html>
<html lang="en" class="2xl:text-[20px]">
    <head>
        <!-- Google Analytics Require constent -->
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="71e2d143-f8ef-4f1e-abf6-2c2cfdd8bb84" type="text/javascript" async></script>

        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="manifest" href="/manifest.webmanifest" />
        <style>
          html, body {
              height: 100%;
              margin: 0;
          }
          body {
              display: flex;
              flex-direction: column;
          }
          main {
              flex: 1 0 auto;
          }
          footer {
              flex-shrink: 0;
          }
      </style>

      <!-- Google Analytics -->
      <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-05X4C6TPGF"></script>
      <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-05X4C6TPGF');
      </script>
    </head>

    <body>
      <Header links={links}/>
      <main>
          <slot />
      </main>
      <Footer {...footerData} />
    </body>
</html>
