---
import Header from '../components/widgets/Header.astro';
import Footer from '../components/widgets/Footer.astro';

const links = [
  // { text: 'Home', href: '/' },
  { text: 'Articles', href: '/articles' },
  // { text: 'Weekly', href: '/weekly' },
  { text: 'Books', href: '/books' },
  { text: 'About', href: '/about' },
];

const footerData = {
  socialLinks: [
    { name: 'GitHub', icon: 'tabler:brand-github', href: 'https://github.com/hoangatuan' },
    { name: 'Linkedin', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/in/tuan-hoang-b02025183/' },
    { name: 'Medium', icon: 'tabler:brand-medium', href: 'https://medium.com/@hoangatuan' }
  ],
  footNote: "© 2024 Tuan Hoang. All rights reserved."
};
---

<!doctype html>
<html lang="en" class="2xl:text-[20px]">
    <head>
        <meta charset="UTF-8">
        <Header links={links}/>
    </head>

    <main>
        <slot />
    </main>

    <Footer {...footerData} />
</html>
