---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import PageLayout from "../../layouts/PageLayout.astro"
import { getStaticPathsBlogPost } from '../../utils/blog';

export const getStaticPaths = (async () => {
  return await getStaticPathsBlogPost();
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { post } = Astro.props as Props;
---

<PageLayout>
  <p>WTF</p>
</PageLayout>